div.banner
  div.banner__photo
    img.banner__photo-img(src="img/content/banner.jpg", alt="Santop Expo")
    img.banner__img-scroll(src="img/svg/scroll-down.svg", alt="Scroll Down")
  div.container
    div.banner__wrap
      img.banner__logo(src="img/svg/logo.svg", alt="Santop Expo")
      p.banner__text Шоурум представляет  большой ассортимент качественной европейской сантехники по лучшим ценам от производителей
        a.banner__showroom(href="#")
      div#banner__scroll.banner__scroll
        p.banner__scroll-text Складской комплекс площадью 30 000м2 оснащен современной системой автоматизации обработки клиентских заказов, что существенно сокращает время ожидания.
        p.banner__scroll-text Ассортимент предлагаемого оборудования позволяет комплектовать внутренние инженерные системы зданий и сооружений жилищного, промышленного, торгового и культурного назначения. Поставляемые оборудование, изделия и материалы были отобраны по критериям надежной работы в российских условиях эксплуатации, соответствия мировым стандартам и прошли сертификацию в России.
          a.banner__showroom(href="#")
