div.banner
  div.banner__photo
    video.banner__video(playsinline autoplay muted loop)
      source(src="video/video.mp4" type="video/mp4")
    img.banner__img-scroll(src="img/svg/scroll-down.svg", alt="Scroll Down")
    img.banner__img-scroll.banner__img-scroll_mob(src="img/svg/scroll-down-dark.svg", alt="Scroll Down")
  div.container
    div.banner__wrap
      img.banner__logo(src="img/svg/logo.svg", alt="Santop Expo")
      p.banner__text Самый большой дизайнерский шоурум сантехники в России. Официальный дистрибьютер более 30 брендов европейской сантехники. Складская программа, своя логистика, приоритетное решение гарантийных вопросов.
        button.banner__showroom(data-bs-toggle="modal" data-bs-target="#exampleModal")
          img.banner__showroom-img(src="img/svg/showroom.svg", alt="")
          img.banner__showroom-hover(src="img/svg/showroom.svg", alt="")
