section.cer
  div.cer__wrap
    div.cer__left
      div.container
        h2.cer__title Сертификаты качества
        p.cer__text Да, все товары сертифицированы и на все есть фирменная гарантия. Мы официальные поставщики.
        div.cer__nav
          button.cer__nav-btn.cer__nav-btn_prev.swiper-button-prev
          button.cer__nav-btn.cer__nav-btn_next.swiper-button-next
          div.cer__nav-scrollbar.swiper-scrollbar
    div.cer__right
      div.container-fluid
        div.cer__slider.swiper
          div.cer__slider-wrap.swiper-wrapper
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-1.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-2.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-3.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-4.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-5.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-6.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-7.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-8.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-9.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-10.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-11.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-12.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-13.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-14.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-15.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-16.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-17.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-18.png", alt="")
            a.cer__slider-link.swiper-slide(href="#")
              img.cer__slider-img(src="img/content/cer-19.png", alt="")
