section#expo.expo
  div.container
    h2.expo__title.section-title Expo
    div.expo__wrap
      div.expo__left
        div.expo__meter 2500 м<sup>2</sup>
        div.expo__samples <span>5000</span> выставочных образцов
        p.expo__text Посетите Santop-Expo, где можно познакомиться с последними новинками сантехники. Более 450 моделей сантехники иностранного производства
        a.expo__link(href="#") Промо видео
        img.expo__left-img(src="img/content/expo-1.jpg", alt="Santop Expo 1")
      div.expo__right
        div.expo__right-text Ванная комната как произведение искусства
        img.expo__right-img(src="img/content/expo-2.jpg", alt="Santop Expo 2")
    img.expo__scrolldown(src="img/svg/scroll-down-dark.svg", alt="")
