section#expo.expo
  div.container
    h2.expo__title.section-title Expo
    div.expo__wrap
      div.expo__left
        div.expo__meter 2.500 м<sup>2</sup>
        div.expo__samples <span>5.000</span> Выставочных образцов
        p.expo__text Посещая Santop Expo, вы сможете не только познакомиться с последними новинками сантехники, но и полностью укомплектовать ванную комнату своей мечты
        a.expo__link(href="https://www.youtube.com/watch?v=qEGoCEZInyA", target="_blank") Промо видео
        img.expo__left-img(src="img/content/expo-1.jpg", alt="Santop Expo 1")
      div.expo__right
        div.expo__right-text Ванная комната как произведение искусства
        img.expo__right-img(src="img/content/expo-2.jpg", alt="Santop Expo 2")
