section#follow.follow
  div.container
    h2.follow__title
      img.follow__img(src="img/svg/logo.svg", alt="")
    p.follow__text Захватывающие видео с высоты птичьего полета,  путешествие сквозь шоурум, атмосферные обзоры выставочных образцов от блогеров
    div.follow__me
      a.follow__me-link(href="#") #Follow Me
    div.follow__slider.swiper
      div.follow__slider-wrap.swiper-wrapper
        div.follow__slider-item.swiper-slide
          div.follow__slider-item-link
            iframe(src="https://www.youtube.com/embed/sTfNwzRTpNc")
        div.follow__slider-item.swiper-slide
          div.follow__slider-item-link
            iframe(src="https://www.youtube.com/embed/wAZ_eLqb4n8")
        div.follow__slider-item.swiper-slide
          div.follow__slider-item-link
            iframe(src="https://www.youtube.com/embed/qEGoCEZInyA")
        div.follow__slider-item.swiper-slide
          div.follow__slider-item-link
            iframe(src="https://www.youtube.com/embed/NXonCS-JFmI")
    div.follow__nav
      button.follow__nav-btn.follow__nav-btn_prev.swiper-button-prev
      button.follow__nav-btn.follow__nav-btn_next.swiper-button-next
      div.follow__nav-scrollbar.swiper-scrollbar
