section#partner.partner
  div.container-fluid
    div.partner__wrap
      div.partner__left
        div.partner__item
          img.partner__item-img(src="img/content/partner-1.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-2.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-3.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-4.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-5.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-6.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-7.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-8.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-9.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-10.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-11.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-12.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-13.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-14.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-15.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-16.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-17.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-18.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-19.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-20.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-21.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-22.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-23.png", alt="")
        div.partner__item
          img.partner__item-img(src="img/content/partner-24.png", alt="")
      div.partner__right
        div.partner__right-title Шоурум Santop Expo представляет широкий спектр сантехники от ведущих производителей
        img.partner__right-img(src="img/svg/scroll-down-dark.svg", alt="")
        img.partner__right-img.partner__right-img_show(src="img/svg/showroom.svg", alt="")
        div.partner__carousel.swiper
          a.partner__carousel-link(href="#") Смотреть на карте
          div.partner__carousel-wrap.swiper-wrapper
            div.partner__carousel-item.swiper-slide
              div.partner__carousel-title 2500 м2
              div.partner__carousel-text Такую площадь занимает наш шоурум в Москве.
              img.partner__carousel-img(src="img/content/partner-slide-1.jpg", alt="")
            div.partner__carousel-item.swiper-slide
              div.partner__carousel-title + 1000
              div.partner__carousel-text На складе 12.000 уникальных артикулов товара. 1000 заказов отгружается ежедневно
              img.partner__carousel-img(src="img/content/partner-slide-2.jpg", alt="")
          div.partner__carousel-nav
            button.partner__carousel-btn.partner__carousel-btn_prev.swiper-button-prev
            button.partner__carousel-btn.partner__carousel-btn_next.swiper-button-next
          div.partner__carousel-scrollbar.swiper-scrollbar
