.footer {
  flex-shrink: 0;
  padding-top: 60px;
  color: $white;
  background: $black;
}

.footer.open {
  display: none;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 91px;
}

.footer__left {
  width: 15%;
}

.footer__logo-link {
  margin-bottom: 23px;
}

.footer__text {
  font-family: $Roboto;
  font-size: 12px;
  line-height: 1.5;
  color: #999999;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  width: 51%;
}

.footer__col {
  width: 30%;
  &_contact {
    width: 68.2%;
  }
}

.footer__follow {
  margin-bottom: 10px;
  font-family: $Montserrat;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer__social-link {
  display: inline-flex;
  margin-right: 24px;
  &:last-child {
    margin-right: 0;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__item {
  margin-bottom: 12px;
  padding-left: 22px;
  &_mail {
    font-family: $Montserrat;
    background: url("../img/svg/mail.svg") left center no-repeat;
  }
  &_phone {
    font-family: $Montserrat;
    background: url("../img/svg/phone.svg") left center no-repeat;
  }
  &_address {
    font-family: $Roboto;
    background: url("../img/svg/map.svg") left 5px no-repeat;
    a {
      color: $white;
    }
  }
  &_time {
    font-family: $Roboto;
    background: url("../img/svg/time.svg") left center no-repeat;
  }
}

.footer__link {
  color: $white;
  &:hover {
    color: $white;
  }
}

.footer__address {
  font-style: normal;
}

.footer__copyright {
  padding-bottom: 25px;
  font-family: $Roboto;
  font-size: 14px;
}

.footer__copyright-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright-politics {

  a {
    margin-right: 35px;
    color: #7a7a7a;
    text-decoration: underline;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

.footer__copyright-dev {
  color: #999999;
  a {
    color: #999999;
  }
  img {
    margin-right: 5px;
  }
}

@media (max-width: 1279px) {

  .footer__copyright-text {
    margin-bottom: 10px;
  }

  .footer__right {
    width: 75%;
  }

  .footer__col {
    width: 50%;
    text-align: center;
  }

  .footer__social {
    justify-content: center;
  }

  .footer__col_contact {
    width: 50%;
  }

  .footer__list {
    align-items: flex-start;
  }

}

@media (max-width: 1023px) {

  .footer__wrap {
    flex-direction: column;
    padding-bottom: 30px;
  }

  .footer__left {
    width: auto;
    margin-bottom: 36px;
    text-align: center;
  }

  .footer__right {
    width: auto;
    flex-direction: column;
  }

  .footer__col {
    width: auto;
    margin-bottom: 34px;
  }

  .footer__follow {
    text-align: center;
  }

  .footer__social {
    justify-content: center;
  }

  .footer__text {
    max-width: 195px;
    margin: 0 auto;
    text-align: center;
  }

  .footer__list {
    align-items: flex-start;
    column-count: 1;
  }

  .footer__item {
    margin-bottom: 20px;
    padding-left: 53px;
    background-position: 30px 5px;
  }

  .footer__copyright-wrap {
   align-items: flex-start;
  }

  .footer__copyright-politics {
    margin-bottom: 20px;
  }

}

@media (max-width: 767px) {

  .footer__copyright-wrap {
    flex-direction: column;
  }

  .footer__address {
    text-align: left;
  }

}
