$Roboto: "Roboto", Arial, Helvetica, sans-serif;
$Engravers: "Engravers MT", Arial, Helvetica, sans-serif;
$Montserrat: "Montserrat", Arial, Helvetica, sans-serif;
$fz-16: 16px;
$white: #ffffff;
$black: #000000;

html, body, h1, h2, h3, h4, h5, h6, p, button, ul, ol {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $Montserrat;
  font-size: $fz-16;
  font-weight: 400;
  font-style: normal;
  line-height: 1.375;
  color: $black;
  background: $white;
  overflow-x: hidden;
}

body.modal-open {
  height: 100vh;
}

ul, ol {
  list-style: none;
}

svg {
  display: inline-block;
  fill: currentColor;
  stroke: none;
}

a {
  display: inline-block;
  color: $black;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;
  }
}

button {
  background: transparent;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

input {
  box-sizing: border-box;
  border: none;
  outline: none;
}

label {
  &:hover {
    cursor: pointer;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

main {
  flex-grow: 1;
}

main.open {
  display: none;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  font-family: $Engravers;
  font-size: 250px;
  font-weight: 400;
  color: #f2f2f2;
  letter-spacing: 0.13em;
  line-height: 1;
}

.up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: url("../img/svg/up.svg") center center no-repeat;
  z-index: 99999;
}

@media (min-width: 1000px) {

  .container {
    max-width: 1439px;
  }

}

@media (max-width: 1279px) {

  .up {
    width: 40px;
    height: 40px;
  }

}

@media (max-width: 1023px) {



}

@media (max-width: 767px) {

  .container {
    padding: 0 17px;
  }

}
