extends ../common/layout

block main
  main
    include ../includes/index/banner
    include ../includes/index/expo
    include ../includes/index/gallery
    include ../includes/index/partner
    include ../includes/index/cer
    include ../includes/index/follow
    include ../includes/index/map
