.cer {
  margin-bottom: 108px;
}

.cer__wrap {
  display: flex;
  justify-content: space-between;
}

.cer__left {
  position: relative;
  width: 355px;
  margin-left: 217px;
  padding-top: 104px;
}

.cer__right {
  width: 60.5%;
}

.cer__title {
  max-width: 250px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.3;
}

.cer__text {
  margin-bottom: 128px;
  font-weight: 300;
}

.cer__nav {

}

.cer__nav-btn {
  width: 40px;
  height: 40px;
  top: auto;
  &::after {
    display: none;
  }
  &_prev {
    left: 20px;
    background: url("../img/svg/slider-arrow-left.svg") center center no-repeat;
  }
  &_next {
    right: auto;
    left: 307px;
    background: url("../img/svg/slider-arrow-right.svg") center center no-repeat;
  }
}

.cer__nav-scrollbar {
  position: relative;
  top: -3px;
  width: 62%;
  height: 1px;
  left: 68px;
  .swiper-scrollbar-drag {
    background: $black;
  }
}

.cer__slider {
  text-align: right;
}

@media (max-width: 1439px) {

  .cer__left {
    margin-left: 0;
    padding-top: 0;
  }

  .cer__nav-scrollbar {
    bottom: 0;
  }

  .cer__nav-btn {
    bottom: 4px;
  }

}

@media (max-width: 1365px) {

  .cer__nav-scrollbar {
    bottom: 23px;
  }

}

@media (max-width: 1279px) {

  .cer {
    margin-bottom: 149px;
  }

  .cer__wrap {
    flex-direction: column;
  }

  .cer__left {
    width: auto;
    margin-left: 0;
    padding-top: 40px;
  }

  .cer__title {
    margin-bottom: 26px;
    padding-left: 14px;
    font-size: 30px;
  }

  .cer__right {
    width: auto;
  }

  .cer__text {
    margin-bottom: 39px;
    padding: 0 18px;
    font-size: 14px;
    line-height: 1.5;
  }

  .cer__slider-link {
    text-align: center;
  }

  .cer__slider-img {
    width: 308px;
  }

  .cer__nav-btn {
    bottom: -495px;
  }

  .cer__nav-btn_prev {
    left: 225px;
  }

  .cer__nav-btn_next {
    left: auto;
    right: 225px;
  }

  .cer__nav-scrollbar {
    position: absolute;
    left: 50%;
    top: auto;
    bottom: -475px;
    width: 40%;
    transform: translateX(-50%);
  }

}


@media (max-width: 1023px) {

  .cer__nav-btn {
    bottom: -480px;
  }

  .cer__nav-btn_prev {
    left: 170px;
  }

  .cer__nav-btn_next {
    left: auto;
    right: 170px;
  }

  .cer__nav-scrollbar {
    bottom: -460px;
  }

}


@media (max-width: 767px) {

  .cer__nav-btn {
    bottom: -495px;
  }

  .cer__nav-btn_prev {
    left: 45px;
  }

  .cer__nav-btn_next {
    left: auto;
    right: 43px;
  }

  .cer__nav-scrollbar {
    bottom: -475px;
  }

}

@media (min-width: 2000px) {
  .cer__nav-btn {
    bottom: auto;
  }
}
