footer#footer.footer
  div.container
    div.footer__wrap
      div.footer__left
        a.footer__logo-link(href="#")
          img.footer__logo-img(src="img/svg/logo-white.svg", alt="")
        div.footer__text Официальный шоурум в Москве. Фирменная сантехника от поставщиков с гарантией
      div.footer__right
        div.footer__col
          div.footer__follow #Santop
          div.footer__social
            a.footer__social-link(href="#")
              img.footer__social-img(src="img/svg/facebook.svg", alt="")
            a.footer__social-link(href="#")
              img.footer__social-img(src="img/svg/instagram.svg", alt="")
        div.footer__col.footer__col_contact
          ul.footer__list
            li.footer__item.footer__item_mail
              a.footer__link(href="mailto:info@santop-expo.ru") info@santop-expo.ru
            li.footer__item.footer__item_phone
              a.footer__link(href="tel:84951747044") 8 (495) 174 70 44
            li.footer__item.footer__item_address
              a.footer__address(href="#https://yandex.by/MAPS/157/minsk/?ll=27.561481%2C53.902496&mode=routes&rtext=&rtt=auto&z=12", target="_blank") Долгопрудный, Лихачёвский проезд, 10аС1
            li.footer__item.footer__item_time 10:00 — 22:00 без выходных
    div.footer__copyright
      div.footer__copyright-wrap
        div.footer__copyright-politics
          a(href="#") Privacy Policy
          a(href="#") Legal information
        div.footer__copyright-text © SANTOP © Copyright 2021
        div.footer__copyright-dev Designed by <a href="#"><img src="img/svg/promind.svg" alt="ProMind">Promind</a>
a.up(href="#")
include ../reuse/modal
