header.header
  div.container
    div.header__top
      a.header__mail(href="mailto:info@santop-expo.ru") info@santop-expo.ru
      a.header__logo(href="#")
        img.header__logo-img(src="img/svg/logo.svg", alt="Santop")
      a.header__phone(href="tel:84951747044") 8 (495) 174 70 44
    nav.header__nav
      ul
        li
          a(href="#") О компании
        li
          a(href="#") Фотогалерея
        li
          a(href="#") Каталог
        li
          a(href="#") Бренды
        li
          a(href="#") На карте
        li
          a(href="#") Контакты
